body {
  font-family: Arial;
  margin: 0;
  background: #f4f6f9;
  text-align: center;
}

header {
  background: linear-gradient(135deg, purple, blue);
  color: white;
  padding: 20px;
}

nav {
  background: #222;
  padding: 10px;
}

nav a {
  color: white;
  margin: 10px;
  text-decoration: none;
}

.card {
  background: white;
  margin: 15px auto;
  padding: 20px;
  max-width: 700px;
  border-radius: 10px;
}
button {
  width: 100%;
  font-size: 18px;
  padding: 15px;
  margin: 10px 0;
}